legacy/at.chipkarte.client/rsc/wsdl/DasService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.das.client.chipkarte.at" xmlns:intf="http://soap.das.client.chipkarte.at" xmlns:tns1="http://exceptions.soap.base.client.chipkarte.at" xmlns:tns2="http://exceptions.soap.das.client.chipkarte.at" xmlns:tns3="http://soap.base.client.chipkarte.at" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soap.das.client.chipkarte.at">
<!--WSDL created by Apache Axis version: 1.2RC1
Built on Sep 29, 2004 (08:29:40 EDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://soap.das.client.chipkarte.at">
   <import namespace="http://exceptions.soap.das.client.chipkarte.at"/>
   <import namespace="http://soap.base.client.chipkarte.at"/>
   <import namespace="http://exceptions.soap.base.client.chipkarte.at"/>
   
   <element name="retrieveIEKOEconomicGrouping">
    <complexType>
     <sequence>
      <element name="dialogId" type="xsd:string"/>
      <element name="pharmaNumber" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="retrieveIEKOEconomicGroupingResponse">
    <complexType>
     <sequence>
      <element name="retrieveIEKOEconomicGroupingReturn" type="impl:IEKOEconomicGrouping"/>
     </sequence>
    </complexType>
   </element>
   
   <element name="checkStatus">
    <complexType>
     <sequence>
      <element name="dialogId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkStatusResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="checkStatusReturn" type="tns3:Property"/>
     </sequence>
    </complexType>
   </element>
   
   <complexType name="IEKOIngredient">
    <sequence>
     <element name="ingredientName" type="xsd:string"/>
     <element name="atcCode" type="xsd:string"/>
     <element name="ingredientStrength" type="xsd:string"/>
     <element name="ingredientDimension" type="xsd:string"/>
    </sequence>
   </complexType>
   
   <complexType name="IEKOMedicament">
    <sequence>
     <element name="pharmaNumber" type="xsd:string"/>
     <element minOccurs="0" name="registerNumberPrefix" type="xsd:string"/>
     <element name="registerNumber" type="xsd:string"/>
     <element minOccurs="0" name="packageNumber" type="xsd:string"/>
     <element name="medicamentName" type="xsd:string"/>
     <element name="box" type="xsd:string"/>
     <element minOccurs="0" name="healthInsuranceSign" type="xsd:string"/>
     <element name="amount" type="xsd:string"/>
     <element name="price" type="xsd:string"/>
     <element name="pricePerUnit" type="xsd:string"/>
     <element name="dosageForm" type="xsd:string"/>
     <element minOccurs="0" name="divisibility" type="xsd:string"/>
     <element minOccurs="0" name="refaktie" type="xsd:string"/>
     <element minOccurs="0" name="dispensingCount" type="xsd:string"/>
     <element minOccurs="0" name="packageInformation" type="xsd:string"/>
     <element minOccurs="0" name="informationText" type="xsd:string"/>
     <element minOccurs="0" name="ruleText" type="xsd:string"/>
     <element minOccurs="0" name="indicationText" type="xsd:string"/>
     <element name="atcCode" type="xsd:string"/>
     <element name="ingredientName" type="xsd:string"/>
     <element minOccurs="0" maxOccurs="unbounded" name="IEKOIngredient" type="impl:IEKOIngredient"/>
    </sequence>
   </complexType>
   
   <complexType name="IEKOComparison">
    <sequence>
     <element name="IEKOMedicament" type="impl:IEKOMedicament"/>
     <element name="comparisonPosition" type="xsd:string"/>
     <element name="comparisonCode" type="xsd:string"/>  
    </sequence>
   </complexType>
   
   <complexType name="IEKOIngredientReference">
    <sequence>
     <element name="atcCode" type="xsd:string"/>
     <element name="ingredientName" type="xsd:string"/>
    </sequence>
   </complexType>
   
   <complexType name="IEKOEconomicGrouping">
    <sequence>
     <element name="medicamentName" type="xsd:string"/>
     <element name="pharmaNumber" type="xsd:string"/>
     <element name="identIngredient" type="impl:IEKOIngredientReference"/>
     <element minOccurs="0" name="similarIngredient" type="impl:IEKOIngredientReference"/>
     <element maxOccurs="unbounded" name="IEKOComparison" type="impl:IEKOComparison"/>
    </sequence>
   </complexType>
   
   <element name="fault" type="tns1:DialogException"/>
   <element name="fault1" type="tns1:AccessException"/>
   <element name="fault2" type="tns1:ServiceException"/>
   <element name="fault3" type="tns2:DasInvalidParameterException"/>
   <element name="fault4" type="tns2:DasException"/>

  </schema>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://exceptions.soap.base.client.chipkarte.at">
   <import namespace="http://exceptions.soap.das.client.chipkarte.at"/>
   <import namespace="http://soap.das.client.chipkarte.at"/>
   <import namespace="http://soap.base.client.chipkarte.at"/>
   <complexType name="BaseException">
    <sequence>
     <element name="code" nillable="true" type="xsd:string"/>
     <element name="errorCode" type="xsd:int"/>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="DialogException">
    <complexContent>
     <extension base="tns1:BaseException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="AccessException">
    <complexContent>
     <extension base="tns1:BaseException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceException">
    <complexContent>
     <extension base="tns1:BaseException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://exceptions.soap.das.client.chipkarte.at">
   <import namespace="http://soap.das.client.chipkarte.at"/>
   <import namespace="http://soap.base.client.chipkarte.at"/>
   <import namespace="http://exceptions.soap.base.client.chipkarte.at"/>
   <complexType name="DasInvalidParameterException">
    <complexContent>
     <extension base="tns1:BaseException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="DasException">
    <complexContent>
     <extension base="tns1:BaseException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://soap.base.client.chipkarte.at">
   <import namespace="http://exceptions.soap.das.client.chipkarte.at"/>
   <import namespace="http://soap.das.client.chipkarte.at"/>
   <import namespace="http://exceptions.soap.base.client.chipkarte.at"/>
   <complexType name="Property">
    <sequence>
     <element name="key" nillable="true" type="xsd:string"/>
     <element name="value" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="checkStatusRequest">

      <wsdl:part element="impl:checkStatus" name="parameters"/>

   </wsdl:message>
   
   <wsdl:message name="checkStatusResponse">

      <wsdl:part element="impl:checkStatusResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="retrieveIEKOEconomicGroupingRequest">

      <wsdl:part element="impl:retrieveIEKOEconomicGrouping" name="parameters"/>

   </wsdl:message>
   
   <wsdl:message name="retrieveIEKOEconomicGroupingResponse">

      <wsdl:part element="impl:retrieveIEKOEconomicGroupingResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="ServiceException">

      <wsdl:part element="impl:fault2" name="fault"/>

   </wsdl:message>

   <wsdl:message name="DialogException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="AccessException">

      <wsdl:part element="impl:fault1" name="fault"/>

   </wsdl:message>

   <wsdl:message name="DasInvalidParameterException">

      <wsdl:part element="impl:fault3" name="fault"/>

   </wsdl:message>

   <wsdl:message name="DasException">

      <wsdl:part element="impl:fault4" name="fault"/>

   </wsdl:message>

   <wsdl:portType name="IDasService">

      <wsdl:operation name="retrieveIEKOEconomicGrouping">

         <wsdl:input message="impl:retrieveIEKOEconomicGroupingRequest" name="retrieveIEKOEconomicGroupingRequest"/>

         <wsdl:output message="impl:retrieveIEKOEconomicGroupingResponse" name="retrieveIEKOEconomicGroupingResponse"/>

         <wsdl:fault message="impl:AccessException" name="AccessException"/>

         <wsdl:fault message="impl:DasException" name="DasException"/>

         <wsdl:fault message="impl:DasInvalidParameterException" name="DasInvalidParameterException"/>

         <wsdl:fault message="impl:ServiceException" name="ServiceException"/>

         <wsdl:fault message="impl:DialogException" name="DialogException"/>

      </wsdl:operation>

      <wsdl:operation name="checkStatus">

         <wsdl:input message="impl:checkStatusRequest" name="checkStatusRequest"/>

         <wsdl:output message="impl:checkStatusResponse" name="checkStatusResponse"/>

         <wsdl:fault message="impl:AccessException" name="AccessException"/>

         <wsdl:fault message="impl:ServiceException" name="ServiceException"/>

         <wsdl:fault message="impl:DialogException" name="DialogException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="soap_das_1.0SoapBinding" type="impl:IDasService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="retrieveIEKOEconomicGrouping">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="retrieveIEKOEconomicGroupingRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="retrieveIEKOEconomicGroupingResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="AccessException">

            <wsdlsoap:fault name="AccessException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DasException">

            <wsdlsoap:fault name="DasException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DasInvalidParameterException">

            <wsdlsoap:fault name="DasInvalidParameterException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceException">

            <wsdlsoap:fault name="ServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DialogException">

            <wsdlsoap:fault name="DialogException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="checkStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkStatusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkStatusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="AccessException">

            <wsdlsoap:fault name="AccessException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceException">

            <wsdlsoap:fault name="ServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DialogException">

            <wsdlsoap:fault name="DialogException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="soap_das_1.0">

      <wsdl:port binding="impl:soap_das_1.0SoapBinding" name="soap_das_1.0">

         <wsdlsoap:address location="http://localhost/axis/services/soap_das_1.0"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>