legacy/at.chipkarte.client/rsc/wsdl/DmpService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.dmp.client.chipkarte.at" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.dmp.client.chipkarte.at" xmlns:intf="http://soap.dmp.client.chipkarte.at" xmlns:tns1="http://soap.base.client.chipkarte.at" xmlns:tns2="http://exceptions.soap.base.client.chipkarte.at" xmlns:tns3="http://exceptions.soap.dmp.client.chipkarte.at" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2RC1
Built on Sep 29, 2004 (08:29:40 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.dmp.client.chipkarte.at" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exceptions.soap.dmp.client.chipkarte.at"/>
   <import namespace="http://soap.base.client.chipkarte.at"/>
   <import namespace="http://exceptions.soap.base.client.chipkarte.at"/>
   <element name="checkStatus">
    <complexType>
     <sequence>
      <element name="dialogId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkStatusResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="checkStatusReturn" type="tns1:Property"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns2:AccessException"/>
   <element name="fault1" type="tns2:ServiceException"/>
   <element name="fault2" type="tns2:DialogException"/>
   <element name="getDMPs">
    <complexType/>
   </element>
   <element name="getDMPsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getDMPsReturn" type="tns1:BaseProperty"/>
     </sequence>
    </complexType>
   </element>
   <element name="doEingabe">
    <complexType>
     <sequence>
      <element name="dialogId" type="xsd:string"/>
      <element name="eingabeParameter" type="impl:EingabeParameter"/>
      <element name="cardReaderId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Zustelladresse">
    <sequence>
     <element name="adresszusatz" nillable="true" type="xsd:string"/>
     <element name="hausnummer" nillable="true" type="xsd:string"/>
     <element name="ort" nillable="true" type="xsd:string"/>
     <element name="plz" nillable="true" type="xsd:string"/>
     <element name="postfachNummer" nillable="true" type="xsd:string"/>
     <element name="postfachText" nillable="true" type="xsd:string"/>
     <element name="stockTuerNummer" nillable="true" type="xsd:string"/>
     <element name="strasse" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="EingabeParameter">
    <sequence>
     <element name="dmpCode" nillable="true" type="xsd:string"/>
     <element name="eingabeArt" nillable="true" type="xsd:string"/>
     <element name="eingabeZusatz" nillable="true" type="xsd:string"/>
     <element name="emailAdresse" nillable="true" type="xsd:string"/>
     <element name="fachgebietsCode" nillable="true" type="xsd:string"/>
     <element name="svNummer" nillable="true" type="xsd:string"/>
     <element name="svtCode" nillable="true" type="xsd:string"/>
     <element name="telefonNummer" nillable="true" type="xsd:string"/>
     <element name="zustellAdresse" nillable="true" type="impl:Zustelladresse"/>
    </sequence>
   </complexType>
   <element name="doEingabeResponse">
    <complexType>
     <sequence>
      <element name="doEingabeReturn" type="impl:EingabeErgebnis"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="SvPerson">
    <sequence>
     <element name="geburtsdatum" nillable="true" type="xsd:string"/>
     <element name="geschlecht" nillable="true" type="xsd:string"/>
     <element name="nachname" nillable="true" type="xsd:string"/>
     <element name="svNummer" nillable="true" type="xsd:string"/>
     <element name="titelHinten" nillable="true" type="xsd:string"/>
     <element name="titelVorne" nillable="true" type="xsd:string"/>
     <element name="vorname" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="EingabeErgebnis">
    <sequence>
     <element name="dmpCode" nillable="true" type="xsd:string"/>
     <element name="eingabeStatus" nillable="true" type="xsd:string"/>
     <element name="eingabeZeitstempel" nillable="true" type="xsd:string"/>
     <element name="emailAdresse" nillable="true" type="xsd:string"/>
     <element name="fachgebietsCode" nillable="true" type="xsd:string"/>
     <element name="patient" nillable="true" type="impl:SvPerson"/>
     <element name="svtCode" nillable="true" type="xsd:string"/>
     <element name="telefonNummer" nillable="true" type="xsd:string"/>
     <element name="uebersteuert" type="xsd:boolean"/>
     <element name="zustellAdresse" nillable="true" type="impl:Zustelladresse"/>
    </sequence>
   </complexType>
   <element name="fault3" type="tns2:CardException"/>
   <element name="fault4" type="tns3:DmpInvalidParameterException"/>
   
   <element name="fault5" type="tns3:DmpException"/>
   <element name="searchEingaben">
    <complexType>
     <sequence>
      <element name="dialogId" type="xsd:string"/>
      <element name="dmpCode" type="xsd:string"/>
      <element name="eingabeArtCode" type="xsd:string"/>
      <element name="eingabeStatus" type="xsd:string"/>
      <element name="datumBeginn" type="xsd:string"/>
      <element name="datumEnde" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchEingabenResponse">
    <complexType>
     <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="searchEingabenReturn" type="impl:Eingabe"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Eingabe">
    <sequence>
     <element name="beMeldung" nillable="true" type="xsd:string"/>
     <element name="dmpCode" nillable="true" type="xsd:string"/>
     <element name="eingabeArt" nillable="true" type="xsd:string"/>
     <element name="eingabeStatus" nillable="true" type="xsd:string"/>
     <element name="eingabeZeitstempel" nillable="true" type="xsd:string"/>
     <element name="patient" nillable="true" type="impl:SvPerson"/>
    </sequence>
   </complexType>
   <element name="getAdminPatientenInformationen">
    <complexType>
     <sequence>
      <element name="dialogId" type="xsd:string"/>
      <element name="svNummer" type="xsd:string"/>
      <element name="strukturierteMeldung" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAdminPatientenInformationenResponse">
    <complexType>
     <sequence>
      <element name="getAdminPatientenInformationenReturn" type="impl:PatientenInformation"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Textmeldung">
    <sequence>
     <element name="dmpCode" nillable="true" type="xsd:string"/>
     <element name="erzeugungsZeitstempel" nillable="true" type="xsd:string"/>
     <element name="freieMeldung" nillable="true" type="xsd:string"/>
     <element name="strukturierteMeldung" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   
   <complexType name="PatientenInformation">
    <sequence>
     <element name="patient" nillable="true" type="impl:SvPerson"/>
     <element minOccurs="0" maxOccurs="unbounded" name="textmeldung" nillable="true" type="impl:Textmeldung"/>
    </sequence>
   </complexType>
   <element name="getMedPatientenInformationen">
    <complexType>
     <sequence>
      <element name="dialogId" type="xsd:string"/>
      <element name="svNummer" type="xsd:string"/>
      <element name="strukturierteMeldung" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMedPatientenInformationenResponse">
    <complexType>
     <sequence>
      <element name="getMedPatientenInformationenReturn" type="impl:PatientenInformation"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBetreutePatienten">
    <complexType>
     <sequence>
      <element name="dialogId" type="xsd:string"/>
      <element name="betreuungsStatus" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBetreutePatientenResponse">
    <complexType>
     <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="getBetreutePatientenReturn" type="impl:Betreuungsverhaeltnis"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Betreuungsverhaeltnis">
    <sequence>
     <element name="begruendung" nillable="true" type="xsd:string"/>
     <element name="betreuungsStatus" nillable="true" type="xsd:string"/>
     <element name="dmpCode" nillable="true" type="xsd:string"/>
     <element name="fachgebietsCode" nillable="true" type="xsd:string"/>
     <element name="patient" nillable="true" type="impl:SvPerson"/>
     <element name="svtCode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="isDMPPatient">
    <complexType>
     <sequence>
      <element name="dialogId" type="xsd:string"/>
      <element name="svNummer" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="isDMPPatientResponse">
    <complexType>
     <sequence>
      <element name="isDMPPatientReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.base.client.chipkarte.at" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://soap.dmp.client.chipkarte.at"/>
   <import namespace="http://exceptions.soap.dmp.client.chipkarte.at"/>
   <import namespace="http://exceptions.soap.base.client.chipkarte.at"/>
   <complexType name="Property">
    <sequence>
     <element name="key" nillable="true" type="xsd:string"/>
     <element name="value" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="BaseProperty">
    <sequence>
     <element name="code" nillable="true" type="xsd:string"/>
     <element name="nurAnzeige" type="xsd:boolean"/>
     <element name="text" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exceptions.soap.base.client.chipkarte.at" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://soap.dmp.client.chipkarte.at"/>
   <import namespace="http://exceptions.soap.dmp.client.chipkarte.at"/>
   <import namespace="http://soap.base.client.chipkarte.at"/>
   <complexType name="BaseException">
    <sequence>
     <element name="code" nillable="true" type="xsd:string"/>
     <element name="errorCode" type="xsd:int"/>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="AccessException">
    <complexContent>
     <extension base="tns2:BaseException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceException">
    <complexContent>
     <extension base="tns2:BaseException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="DialogException">
    <complexContent>
     <extension base="tns2:BaseException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="CardException">
    <complexContent>
     <extension base="tns2:BaseException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exceptions.soap.dmp.client.chipkarte.at" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://soap.dmp.client.chipkarte.at"/>
   <import namespace="http://soap.base.client.chipkarte.at"/>
   <import namespace="http://exceptions.soap.base.client.chipkarte.at"/>
   <complexType name="DmpInvalidParameterException">
    <complexContent>
     <extension base="tns2:BaseException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="DmpException">
    <complexContent>
     <extension base="tns2:BaseException">
      <sequence>
       <element minOccurs="0" maxOccurs="unbounded" name="svtCodes" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="isDMPPatientRequest">

      <wsdl:part element="impl:isDMPPatient" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getMedPatientenInformationenResponse">

      <wsdl:part element="impl:getMedPatientenInformationenResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="DialogException">

      <wsdl:part element="impl:fault2" name="fault"/>

   </wsdl:message>

   <wsdl:message name="doEingabeResponse">

      <wsdl:part element="impl:doEingabeResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="DmpInvalidParameterException">

      <wsdl:part element="impl:fault4" name="fault"/>

   </wsdl:message>

   <wsdl:message name="isDMPPatientResponse">

      <wsdl:part element="impl:isDMPPatientResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="searchEingabenResponse">

      <wsdl:part element="impl:searchEingabenResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="DmpException">

      <wsdl:part element="impl:fault5" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getBetreutePatientenResponse">

      <wsdl:part element="impl:getBetreutePatientenResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="AccessException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="checkStatusResponse">

      <wsdl:part element="impl:checkStatusResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="doEingabeRequest">

      <wsdl:part element="impl:doEingabe" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="CardException">

      <wsdl:part element="impl:fault3" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getMedPatientenInformationenRequest">

      <wsdl:part element="impl:getMedPatientenInformationen" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getBetreutePatientenRequest">

      <wsdl:part element="impl:getBetreutePatienten" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAdminPatientenInformationenResponse">

      <wsdl:part element="impl:getAdminPatientenInformationenResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="searchEingabenRequest">

      <wsdl:part element="impl:searchEingaben" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getDMPsResponse">

      <wsdl:part element="impl:getDMPsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="ServiceException">

      <wsdl:part element="impl:fault1" name="fault"/>

   </wsdl:message>

   <wsdl:message name="checkStatusRequest">

      <wsdl:part element="impl:checkStatus" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getDMPsRequest">

      <wsdl:part element="impl:getDMPs" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAdminPatientenInformationenRequest">

      <wsdl:part element="impl:getAdminPatientenInformationen" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="IDmpService">

      <wsdl:operation name="checkStatus">

         <wsdl:input message="impl:checkStatusRequest" name="checkStatusRequest"/>

         <wsdl:output message="impl:checkStatusResponse" name="checkStatusResponse"/>

         <wsdl:fault message="impl:AccessException" name="AccessException"/>

         <wsdl:fault message="impl:DialogException" name="DialogException"/>

         <wsdl:fault message="impl:ServiceException" name="ServiceException"/>

      </wsdl:operation>

      <wsdl:operation name="getDMPs">

         <wsdl:input message="impl:getDMPsRequest" name="getDMPsRequest"/>

         <wsdl:output message="impl:getDMPsResponse" name="getDMPsResponse"/>

         <wsdl:fault message="impl:AccessException" name="AccessException"/>

         <wsdl:fault message="impl:ServiceException" name="ServiceException"/>

      </wsdl:operation>

      <wsdl:operation name="doEingabe">

         <wsdl:input message="impl:doEingabeRequest" name="doEingabeRequest"/>

         <wsdl:output message="impl:doEingabeResponse" name="doEingabeResponse"/>

         <wsdl:fault message="impl:AccessException" name="AccessException"/>

         <wsdl:fault message="impl:DmpInvalidParameterException" name="DmpInvalidParameterException"/>

         <wsdl:fault message="impl:DmpException" name="DmpException"/>

         <wsdl:fault message="impl:DialogException" name="DialogException"/>

         <wsdl:fault message="impl:CardException" name="CardException"/>

         <wsdl:fault message="impl:ServiceException" name="ServiceException"/>

      </wsdl:operation>

      <wsdl:operation name="searchEingaben">

         <wsdl:input message="impl:searchEingabenRequest" name="searchEingabenRequest"/>

         <wsdl:output message="impl:searchEingabenResponse" name="searchEingabenResponse"/>

         <wsdl:fault message="impl:AccessException" name="AccessException"/>

         <wsdl:fault message="impl:DmpInvalidParameterException" name="DmpInvalidParameterException"/>

         <wsdl:fault message="impl:DialogException" name="DialogException"/>

         <wsdl:fault message="impl:ServiceException" name="ServiceException"/>

      </wsdl:operation>

      <wsdl:operation name="getAdminPatientenInformationen">

         <wsdl:input message="impl:getAdminPatientenInformationenRequest" name="getAdminPatientenInformationenRequest"/>

         <wsdl:output message="impl:getAdminPatientenInformationenResponse" name="getAdminPatientenInformationenResponse"/>

         <wsdl:fault message="impl:AccessException" name="AccessException"/>

         <wsdl:fault message="impl:DmpInvalidParameterException" name="DmpInvalidParameterException"/>

         <wsdl:fault message="impl:DialogException" name="DialogException"/>

         <wsdl:fault message="impl:ServiceException" name="ServiceException"/>

      </wsdl:operation>

      <wsdl:operation name="getMedPatientenInformationen">

         <wsdl:input message="impl:getMedPatientenInformationenRequest" name="getMedPatientenInformationenRequest"/>

         <wsdl:output message="impl:getMedPatientenInformationenResponse" name="getMedPatientenInformationenResponse"/>

         <wsdl:fault message="impl:AccessException" name="AccessException"/>

         <wsdl:fault message="impl:DmpInvalidParameterException" name="DmpInvalidParameterException"/>

         <wsdl:fault message="impl:DialogException" name="DialogException"/>

         <wsdl:fault message="impl:ServiceException" name="ServiceException"/>

      </wsdl:operation>

      <wsdl:operation name="getBetreutePatienten">

         <wsdl:input message="impl:getBetreutePatientenRequest" name="getBetreutePatientenRequest"/>

         <wsdl:output message="impl:getBetreutePatientenResponse" name="getBetreutePatientenResponse"/>

         <wsdl:fault message="impl:AccessException" name="AccessException"/>

         <wsdl:fault message="impl:DmpInvalidParameterException" name="DmpInvalidParameterException"/>

         <wsdl:fault message="impl:DmpException" name="DmpException"/>

         <wsdl:fault message="impl:DialogException" name="DialogException"/>

         <wsdl:fault message="impl:ServiceException" name="ServiceException"/>

      </wsdl:operation>

      <wsdl:operation name="isDMPPatient">

         <wsdl:input message="impl:isDMPPatientRequest" name="isDMPPatientRequest"/>

         <wsdl:output message="impl:isDMPPatientResponse" name="isDMPPatientResponse"/>

         <wsdl:fault message="impl:AccessException" name="AccessException"/>

         <wsdl:fault message="impl:DmpInvalidParameterException" name="DmpInvalidParameterException"/>

         <wsdl:fault message="impl:DialogException" name="DialogException"/>

         <wsdl:fault message="impl:ServiceException" name="ServiceException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="soap_dmp_4.0SoapBinding" type="impl:IDmpService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="checkStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkStatusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkStatusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="AccessException">

            <wsdlsoap:fault name="AccessException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DialogException">

            <wsdlsoap:fault name="DialogException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceException">

            <wsdlsoap:fault name="ServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getDMPs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDMPsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDMPsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="AccessException">

            <wsdlsoap:fault name="AccessException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceException">

            <wsdlsoap:fault name="ServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="doEingabe">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doEingabeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doEingabeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="AccessException">

            <wsdlsoap:fault name="AccessException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DmpInvalidParameterException">

            <wsdlsoap:fault name="DmpInvalidParameterException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DmpException">

            <wsdlsoap:fault name="DmpException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DialogException">

            <wsdlsoap:fault name="DialogException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="CardException">

            <wsdlsoap:fault name="CardException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceException">

            <wsdlsoap:fault name="ServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="searchEingaben">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchEingabenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchEingabenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="AccessException">

            <wsdlsoap:fault name="AccessException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DmpInvalidParameterException">

            <wsdlsoap:fault name="DmpInvalidParameterException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DialogException">

            <wsdlsoap:fault name="DialogException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceException">

            <wsdlsoap:fault name="ServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAdminPatientenInformationen">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAdminPatientenInformationenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAdminPatientenInformationenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="AccessException">

            <wsdlsoap:fault name="AccessException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DmpInvalidParameterException">

            <wsdlsoap:fault name="DmpInvalidParameterException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DialogException">

            <wsdlsoap:fault name="DialogException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceException">

            <wsdlsoap:fault name="ServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getMedPatientenInformationen">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMedPatientenInformationenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMedPatientenInformationenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="AccessException">

            <wsdlsoap:fault name="AccessException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DmpInvalidParameterException">

            <wsdlsoap:fault name="DmpInvalidParameterException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DialogException">

            <wsdlsoap:fault name="DialogException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceException">

            <wsdlsoap:fault name="ServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getBetreutePatienten">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBetreutePatientenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getBetreutePatientenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="AccessException">

            <wsdlsoap:fault name="AccessException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DmpInvalidParameterException">

            <wsdlsoap:fault name="DmpInvalidParameterException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DmpException">

            <wsdlsoap:fault name="DmpException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DialogException">

            <wsdlsoap:fault name="DialogException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceException">

            <wsdlsoap:fault name="ServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="isDMPPatient">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isDMPPatientRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isDMPPatientResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="AccessException">

            <wsdlsoap:fault name="AccessException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DmpInvalidParameterException">

            <wsdlsoap:fault name="DmpInvalidParameterException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DialogException">

            <wsdlsoap:fault name="DialogException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceException">

            <wsdlsoap:fault name="ServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="soap_dmp_4.0">

      <wsdl:port binding="impl:soap_dmp_4.0SoapBinding" name="soap_dmp_4.0">

         <wsdlsoap:address location="http://localhost/axis/services/soap_dmp_4.0"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>