legacy/at.chipkarte.client/rsc/wsdl/SasService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.sas.client.chipkarte.at" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.sas.client.chipkarte.at" xmlns:intf="http://soap.sas.client.chipkarte.at" xmlns:tns1="http://soap.base.client.chipkarte.at" xmlns:tns2="http://exceptions.soap.base.client.chipkarte.at" xmlns:tns3="http://exceptions.soap.sas.client.chipkarte.at" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2RC1
Built on Sep 29, 2004 (08:29:40 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.sas.client.chipkarte.at" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://soap.base.client.chipkarte.at"/>
   <import namespace="http://exceptions.soap.base.client.chipkarte.at"/>
   <import namespace="http://exceptions.soap.sas.client.chipkarte.at"/>
   <element name="checkStatus">
    <complexType>
     <sequence>
      <element name="dialogId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkStatusResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="checkStatusReturn" type="tns1:Property"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns2:AccessException"/>
   <element name="fault1" type="tns2:DialogException"/>
   <element name="fault2" type="tns2:ServiceException"/>
   <element name="svNummerAbfragen">
    <complexType>
     <sequence>
      <element name="dialogId" type="xsd:string"/>
      <element name="svNummerAbfragenSuchkriterien" type="impl:Suchkriterien"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Suchkriterien">
    <sequence>
     <element name="familienname" nillable="true" type="xsd:string"/>
     <element name="geburtsdatum" nillable="true" type="xsd:string"/>
     <element name="vorname" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="svNummerAbfragenResponse">
    <complexType>
     <sequence>
      <element name="svNummerAbfragenReturn" type="impl:AbfrageErgebnis"/>
     </sequence>
    </complexType>
   </element>
   <element name="patientendatenAbfragen">
    <complexType>
     <sequence>
      <element name="dialogId" type="xsd:string"/>
      <element name="svNummer" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="patientendatenAbfragenResponse">
    <complexType>
     <sequence>
      <element name="patientendatenAbfragenReturn" type="impl:AbfrageErgebnis"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="AbfrageErgebnis">
    <sequence>
     <element name="familienname" nillable="true" type="xsd:string"/>
     <element name="geburtsdatum" nillable="true" type="xsd:string"/>
     <element name="svNummer" nillable="true" type="xsd:string"/>
     <element name="vorname" nillable="true" type="xsd:string"/>
     <element name="todesdatum" nillable="true" type="xsd:string"/>
     <element name="todesdatumBestaetigtKZ" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="fault3" type="tns3:InvalidParameterSuchkriterienException"/>
   <element name="fault4" type="tns3:SasException"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.base.client.chipkarte.at" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exceptions.soap.base.client.chipkarte.at"/>
   <import namespace="http://exceptions.soap.sas.client.chipkarte.at"/>
   <import namespace="http://soap.sas.client.chipkarte.at"/>
   <complexType name="Property">
    <sequence>
     <element name="key" nillable="true" type="xsd:string"/>
     <element name="value" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exceptions.soap.base.client.chipkarte.at" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://soap.base.client.chipkarte.at"/>
   <import namespace="http://exceptions.soap.sas.client.chipkarte.at"/>
   <import namespace="http://soap.sas.client.chipkarte.at"/>
   <complexType name="BaseException">
    <sequence>
     <element name="code" nillable="true" type="xsd:string"/>
     <element name="errorCode" type="xsd:int"/>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="AccessException">
    <complexContent>
     <extension base="tns2:BaseException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="DialogException">
    <complexContent>
     <extension base="tns2:BaseException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceException">
    <complexContent>
     <extension base="tns2:BaseException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exceptions.soap.sas.client.chipkarte.at" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://soap.base.client.chipkarte.at"/>
   <import namespace="http://exceptions.soap.base.client.chipkarte.at"/>
   <import namespace="http://soap.sas.client.chipkarte.at"/>
   <complexType name="InvalidParameterSuchkriterienException">
    <complexContent>
     <extension base="tns2:BaseException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="SasException">
    <complexContent>
     <extension base="tns2:BaseException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="checkStatusResponse">

      <wsdl:part element="impl:checkStatusResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="SasException">

      <wsdl:part element="impl:fault4" name="fault"/>

   </wsdl:message>

   <wsdl:message name="svNummerAbfragenRequest">

      <wsdl:part element="impl:svNummerAbfragen" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="patientendatenAbfragenRequest">

      <wsdl:part element="impl:patientendatenAbfragen" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="InvalidParameterSuchkriterienException">

      <wsdl:part element="impl:fault3" name="fault"/>

   </wsdl:message>

   <wsdl:message name="DialogException">

      <wsdl:part element="impl:fault1" name="fault"/>

   </wsdl:message>

   <wsdl:message name="AccessException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="checkStatusRequest">

      <wsdl:part element="impl:checkStatus" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="ServiceException">

      <wsdl:part element="impl:fault2" name="fault"/>

   </wsdl:message>

   <wsdl:message name="svNummerAbfragenResponse">

      <wsdl:part element="impl:svNummerAbfragenResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="patientendatenAbfragenResponse">

      <wsdl:part element="impl:patientendatenAbfragenResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="ISasService">

      <wsdl:operation name="checkStatus">

         <wsdl:input message="impl:checkStatusRequest" name="checkStatusRequest"/>

         <wsdl:output message="impl:checkStatusResponse" name="checkStatusResponse"/>

         <wsdl:fault message="impl:AccessException" name="AccessException"/>

         <wsdl:fault message="impl:DialogException" name="DialogException"/>

         <wsdl:fault message="impl:ServiceException" name="ServiceException"/>

      </wsdl:operation>

      <wsdl:operation name="svNummerAbfragen">

         <wsdl:input message="impl:svNummerAbfragenRequest" name="svNummerAbfragenRequest"/>

         <wsdl:output message="impl:svNummerAbfragenResponse" name="svNummerAbfragenResponse"/>

         <wsdl:fault message="impl:AccessException" name="AccessException"/>

         <wsdl:fault message="impl:DialogException" name="DialogException"/>

         <wsdl:fault message="impl:InvalidParameterSuchkriterienException" name="InvalidParameterSuchkriterienException"/>

         <wsdl:fault message="impl:ServiceException" name="ServiceException"/>

         <wsdl:fault message="impl:SasException" name="SasException"/>

      </wsdl:operation>

      <wsdl:operation name="patientendatenAbfragen">

         <wsdl:input message="impl:patientendatenAbfragenRequest" name="patientendatenAbfragenRequest"/>

         <wsdl:output message="impl:patientendatenAbfragenResponse" name="patientendatenAbfragenResponse"/>

         <wsdl:fault message="impl:AccessException" name="AccessException"/>

         <wsdl:fault message="impl:SasException" name="SasException"/>

         <wsdl:fault message="impl:InvalidParameterSuchkriterienException" name="InvalidParameterSuchkriterienException"/>

         <wsdl:fault message="impl:ServiceException" name="ServiceException"/>

         <wsdl:fault message="impl:DialogException" name="DialogException"/>

      </wsdl:operation>
      
   </wsdl:portType>

   <wsdl:binding name="soap_sas_9.0SoapBinding" type="impl:ISasService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="checkStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkStatusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkStatusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="AccessException">

            <wsdlsoap:fault name="AccessException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DialogException">

            <wsdlsoap:fault name="DialogException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceException">

            <wsdlsoap:fault name="ServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="svNummerAbfragen">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="svNummerAbfragenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="svNummerAbfragenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="AccessException">

            <wsdlsoap:fault name="AccessException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DialogException">

            <wsdlsoap:fault name="DialogException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterSuchkriterienException">

            <wsdlsoap:fault name="InvalidParameterSuchkriterienException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceException">

            <wsdlsoap:fault name="ServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="SasException">

            <wsdlsoap:fault name="SasException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="patientendatenAbfragen">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="patientendatenAbfragenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="patientendatenAbfragenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="AccessException">

            <wsdlsoap:fault name="AccessException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="SasException">

            <wsdlsoap:fault name="SasException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterSuchkriterienException">

            <wsdlsoap:fault name="InvalidParameterSuchkriterienException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceException">

            <wsdlsoap:fault name="ServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DialogException">

            <wsdlsoap:fault name="DialogException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="soap_sas_9.0">

      <wsdl:port binding="impl:soap_sas_9.0SoapBinding" name="soap_sas_9.0">

         <wsdlsoap:address location="http://localhost/axis/services/soap_sas_9.0"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>