legacy/at.chipkarte.client/rsc/wsdl/ServiceManager.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions targetNamespace="http://soap.client.chipkarte.at" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.client.chipkarte.at" xmlns:intf="http://soap.client.chipkarte.at" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2RC1
Built on Sep 29, 2004 (08:29:40 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.client.chipkarte.at" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getServices">
    <complexType/>
   </element>
   <element name="getServicesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getServicesReturn" type="impl:Service"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Service">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="endPointURL" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="type" nillable="true" type="xsd:string"/>
     <element name="version" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getServices_V3_0">
    <complexType/>
   </element>
   <element name="getServices_V3_0Response">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getServices_V3_0Return" type="impl:Service_V3_0"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Service_V3_0">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="endPointURL" nillable="true" type="xsd:string"/>
     <element name="mainVersionNumber" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="subVersionNumber" type="xsd:int"/>
     <element name="type" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getServicesResponse">

      <wsdl:part element="impl:getServicesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getServices_V3_0Request">

      <wsdl:part element="impl:getServices_V3_0" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getServicesRequest">

      <wsdl:part element="impl:getServices" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getServices_V3_0Response">

      <wsdl:part element="impl:getServices_V3_0Response" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="IServiceManager">

      <wsdl:operation name="getServices">

         <wsdl:input message="impl:getServicesRequest" name="getServicesRequest"/>

         <wsdl:output message="impl:getServicesResponse" name="getServicesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getServices_V3_0">

         <wsdl:input message="impl:getServices_V3_0Request" name="getServices_V3_0Request"/>

         <wsdl:output message="impl:getServices_V3_0Response" name="getServices_V3_0Response"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="soap/ServiceManagerSoapBinding" type="impl:IServiceManager">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getServices">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServicesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getServicesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getServices_V3_0">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServices_V3_0Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getServices_V3_0Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="soap/ServiceManager">

      <wsdl:port binding="impl:soap/ServiceManagerSoapBinding" name="soap/ServiceManager">

         <wsdlsoap:address location="http://localhost/axis/services/soap/ServiceManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>