legacy/at.chipkarte.client/rsc/wsdl/VdasService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.vdas.client.chipkarte.at" 
  xmlns:apachesoap="http://xml.apache.org/xml-soap" 
  xmlns:impl="http://soap.vdas.client.chipkarte.at" 
  xmlns:intf="http://soap.vdas.client.chipkarte.at" 
  xmlns:tns1="http://soap.base.client.chipkarte.at" 
  xmlns:tns2="http://exceptions.soap.base.client.chipkarte.at" 
  xmlns:tns3="http://exceptions.soap.vdas.client.chipkarte.at" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2RC1
Built on Sep 29, 2004 (08:29:40 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.vdas.client.chipkarte.at" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://soap.base.client.chipkarte.at"/>
   <import namespace="http://exceptions.soap.base.client.chipkarte.at"/>
   <import namespace="http://exceptions.soap.vdas.client.chipkarte.at"/>
   <element name="checkStatus">
    <complexType>
     <sequence>
      <element name="dialogId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkStatusResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="checkStatusReturn" type="tns1:Property"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns2:AccessException"/>
   <element name="fault1" type="tns2:ServiceException"/>
   <element name="fault2" type="tns2:DialogException"/>
   <element name="retrieveVersichertendatenPerStichtag">
    <complexType>
     <sequence>
      <element name="dialogId" type="xsd:string"/>
      <element name="suchKriterien" type="impl:VersichertendatenAbfragePerStichtag"/>
      <element name="cardReaderId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="VersichertendatenAbfrage">
    <sequence>
     <element name="abteilungsFunktionsCode" nillable="true" type="xsd:string"/>
     <element name="cin" nillable="true" type="xsd:string"/>
     <element name="forceExecution" type="xsd:boolean"/>
     <element name="svNummer" nillable="true" type="xsd:string"/>
     <element name="svNummerAbgeleitet" nillable="true" type="xsd:string"/>
     <element name="svtCode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="VersichertendatenAbfragePerStichtag">
    <complexContent>
     <extension base="impl:VersichertendatenAbfrage">
      <sequence>
       <element name="stichtagsdatum" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <element name="retrieveVersichertendatenPerStichtagResponse">
    <complexType>
     <sequence>
      <element name="retrieveVersichertendatenPerStichtagReturn" type="impl:VersichertendatenAbfrageErgebnis"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Anspruchsdaten">
    <sequence>
     <element name="abgeleiteteDaten" nillable="true" type="tns1:SvPerson"/>
     <element name="anspruchsart" nillable="true" type="xsd:string"/>
     <element name="kostenanteilbefreit" type="xsd:boolean"/>
     <element name="rezeptgebbefreit" type="xsd:boolean"/>
     <element name="svtCode" nillable="true" type="xsd:string"/>
     <element name="versichertenKategorie" nillable="true" type="xsd:string"/>
     <element name="versichertenartCode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="VersichertendatenSvPerson">
    <sequence>
     <element name="geburtsdatum" nillable="true" minOccurs="0" type="xsd:string"/>
     <element name="geschlecht" nillable="true" minOccurs="0" type="xsd:string"/>
     <element name="nachname" nillable="true" minOccurs="0" type="xsd:string"/>
     <element name="svNummer" nillable="true" minOccurs="0" type="xsd:string"/>
     <element name="titelHinten" nillable="true" minOccurs="0" type="xsd:string"/>
     <element name="titelVorne" nillable="true" minOccurs="0" type="xsd:string"/>
     <element name="todesdatum" nillable="true" minOccurs="0" type="xsd:string"/>
     <element name="todesdatumBestaetigt" nillable="true" minOccurs="0" type="xsd:string"/>
     <element name="vorname" nillable="true" minOccurs="0" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="VersichertendatenAbfrageErgebnis">
    <sequence>
     <element minOccurs="0" maxOccurs="unbounded" name="anspruchsDaten" nillable="true" type="impl:Anspruchsdaten"/>
     <element minOccurs="0" maxOccurs="unbounded" name="vdasMessageCodes" nillable="true" type="xsd:int"/>
     <element name="versichertenDaten" nillable="false" type="impl:VersichertendatenSvPerson"/>
    </sequence>
   </complexType>
   <element name="fault3" type="tns2:CardException"/>
   <element name="fault4" type="tns3:VdasException"/>
   <element name="fault5" type="tns3:InvalidParameterVdasException"/>
   <element name="getVersichertenDaten">
    <complexType>
     <sequence>
      <element name="dialogId" type="xsd:string"/>
      <element name="suchKriterien" type="impl:VersichertendatenAbfrage"/>
      <element name="cardReaderId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getVersichertenDatenResponse">
    <complexType>
     <sequence>
      <element name="getVersichertenDatenReturn" type="impl:VersichertendatenAbfrageErgebnis"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.base.client.chipkarte.at" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://soap.vdas.client.chipkarte.at"/>
   <import namespace="http://exceptions.soap.base.client.chipkarte.at"/>
   <import namespace="http://exceptions.soap.vdas.client.chipkarte.at"/>
   <complexType name="Property">
    <sequence>
     <element name="key" nillable="true" type="xsd:string"/>
     <element name="value" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SvPerson">
    <sequence>
     <element name="geburtsdatum" nillable="true" type="xsd:string"/>
     <element name="geschlecht" nillable="true" type="xsd:string"/>
     <element name="nachname" nillable="true" type="xsd:string"/>
     <element name="svNummer" nillable="true" type="xsd:string"/>
     <element name="titelHinten" nillable="true" type="xsd:string"/>
     <element name="titelVorne" nillable="true" type="xsd:string"/>
     <element name="vorname" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exceptions.soap.base.client.chipkarte.at" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://soap.vdas.client.chipkarte.at"/>
   <import namespace="http://soap.base.client.chipkarte.at"/>
   <import namespace="http://exceptions.soap.vdas.client.chipkarte.at"/>
   <complexType name="BaseException">
    <sequence>
     <element name="code" nillable="true" type="xsd:string"/>
     <element name="errorCode" type="xsd:int"/>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="AccessException">
    <complexContent>
     <extension base="tns2:BaseException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceException">
    <complexContent>
     <extension base="tns2:BaseException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="DialogException">
    <complexContent>
     <extension base="tns2:BaseException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="CardException">
    <complexContent>
     <extension base="tns2:BaseException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exceptions.soap.vdas.client.chipkarte.at" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://soap.vdas.client.chipkarte.at"/>
   <import namespace="http://soap.base.client.chipkarte.at"/>
   <import namespace="http://exceptions.soap.base.client.chipkarte.at"/>
   <complexType name="VdasException">
    <complexContent>
     <extension base="tns2:BaseException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="InvalidParameterVdasException">
    <complexContent>
     <extension base="tns2:BaseException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="ServiceException">

      <wsdl:part element="impl:fault1" name="fault"/>

   </wsdl:message>

   <wsdl:message name="retrieveVersichertendatenPerStichtagResponse">

      <wsdl:part element="impl:retrieveVersichertendatenPerStichtagResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="checkStatusResponse">

      <wsdl:part element="impl:checkStatusResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="retrieveVersichertendatenPerStichtagRequest">

      <wsdl:part element="impl:retrieveVersichertendatenPerStichtag" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="VdasException">

      <wsdl:part element="impl:fault4" name="fault"/>

   </wsdl:message>

   <wsdl:message name="InvalidParameterVdasException">

      <wsdl:part element="impl:fault5" name="fault"/>

   </wsdl:message>

   <wsdl:message name="AccessException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getVersichertenDatenResponse">

      <wsdl:part element="impl:getVersichertenDatenResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="CardException">

      <wsdl:part element="impl:fault3" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getVersichertenDatenRequest">

      <wsdl:part element="impl:getVersichertenDaten" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="DialogException">

      <wsdl:part element="impl:fault2" name="fault"/>

   </wsdl:message>

   <wsdl:message name="checkStatusRequest">

      <wsdl:part element="impl:checkStatus" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="IVdasService">

      <wsdl:operation name="checkStatus">

         <wsdl:input message="impl:checkStatusRequest" name="checkStatusRequest"/>

         <wsdl:output message="impl:checkStatusResponse" name="checkStatusResponse"/>

         <wsdl:fault message="impl:AccessException" name="AccessException"/>

         <wsdl:fault message="impl:DialogException" name="DialogException"/>

         <wsdl:fault message="impl:ServiceException" name="ServiceException"/>

      </wsdl:operation>

      <wsdl:operation name="retrieveVersichertendatenPerStichtag">

         <wsdl:input message="impl:retrieveVersichertendatenPerStichtagRequest" name="retrieveVersichertendatenPerStichtagRequest"/>

         <wsdl:output message="impl:retrieveVersichertendatenPerStichtagResponse" name="retrieveVersichertendatenPerStichtagResponse"/>

         <wsdl:fault message="impl:AccessException" name="AccessException"/>

         <wsdl:fault message="impl:DialogException" name="DialogException"/>

         <wsdl:fault message="impl:VdasException" name="VdasException"/>

         <wsdl:fault message="impl:InvalidParameterVdasException" name="InvalidParameterVdasException"/>

         <wsdl:fault message="impl:CardException" name="CardException"/>

         <wsdl:fault message="impl:ServiceException" name="ServiceException"/>

      </wsdl:operation>

      <wsdl:operation name="getVersichertenDaten">

         <wsdl:input message="impl:getVersichertenDatenRequest" name="getVersichertenDatenRequest"/>

         <wsdl:output message="impl:getVersichertenDatenResponse" name="getVersichertenDatenResponse"/>

         <wsdl:fault message="impl:AccessException" name="AccessException"/>

         <wsdl:fault message="impl:DialogException" name="DialogException"/>

         <wsdl:fault message="impl:VdasException" name="VdasException"/>

         <wsdl:fault message="impl:InvalidParameterVdasException" name="InvalidParameterVdasException"/>

         <wsdl:fault message="impl:CardException" name="CardException"/>

         <wsdl:fault message="impl:ServiceException" name="ServiceException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="soap_vdas_10.0SoapBinding" type="impl:IVdasService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="checkStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkStatusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkStatusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="AccessException">

            <wsdlsoap:fault name="AccessException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DialogException">

            <wsdlsoap:fault name="DialogException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceException">

            <wsdlsoap:fault name="ServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="retrieveVersichertendatenPerStichtag">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="retrieveVersichertendatenPerStichtagRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="retrieveVersichertendatenPerStichtagResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="AccessException">

            <wsdlsoap:fault name="AccessException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DialogException">

            <wsdlsoap:fault name="DialogException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="VdasException">

            <wsdlsoap:fault name="VdasException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterVdasException">

            <wsdlsoap:fault name="InvalidParameterVdasException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="CardException">

            <wsdlsoap:fault name="CardException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceException">

            <wsdlsoap:fault name="ServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getVersichertenDaten">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getVersichertenDatenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getVersichertenDatenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="AccessException">

            <wsdlsoap:fault name="AccessException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="DialogException">

            <wsdlsoap:fault name="DialogException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="VdasException">

            <wsdlsoap:fault name="VdasException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterVdasException">

            <wsdlsoap:fault name="InvalidParameterVdasException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="CardException">

            <wsdlsoap:fault name="CardException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceException">

            <wsdlsoap:fault name="ServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="soap_vdas_10.0">

      <wsdl:port binding="impl:soap_vdas_10.0SoapBinding" name="soap_vdas_10.0">

         <wsdlsoap:address location="http://localhost/axis/services/soap_vdas_10.0"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>