bundles/core/at.chipkarte.client/rsc/wsdl/StsService.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sts.client.chipkarte.at" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soap.sts.client.chipkarte.at" name="StsService">
  <types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://exceptions.soap.base.client.chipkarte.at" elementFormDefault="qualified" targetNamespace="http://exceptions.soap.base.client.chipkarte.at" version="1.0">
      <xs:element name="AccessException" type="tns:accessExceptionContent" />
      <xs:element name="CardException" type="tns:cardExceptionContent" />
      <xs:element name="DialogException" type="tns:dialogExceptionContent" />
      <xs:element name="ServiceException" type="tns:serviceExceptionContent" />
      <xs:complexType name="accessExceptionContent">
        <xs:complexContent>
          <xs:extension base="tns:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseExceptionContent">
        <xs:sequence>
          <xs:element name="code" type="xs:string" minOccurs="0" />
          <xs:element name="errorCode" type="xs:int" minOccurs="0" />
          <xs:element name="message" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cardExceptionContent">
        <xs:complexContent>
          <xs:extension base="tns:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="dialogExceptionContent">
        <xs:complexContent>
          <xs:extension base="tns:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="serviceExceptionContent">
        <xs:complexContent>
          <xs:extension base="tns:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" xmlns:tns="http://exceptions.soap.sts.client.chipkarte.at" elementFormDefault="qualified" targetNamespace="http://exceptions.soap.sts.client.chipkarte.at" version="1.0">
      <xs:import namespace="http://exceptions.soap.base.client.chipkarte.at" />
      <xs:element name="InvalidParameterStsException" type="tns:invalidParameterStsExceptionContent" />
      <xs:element name="StsException" type="tns:stsExceptionContent" />
      <xs:complexType name="invalidParameterStsExceptionContent">
        <xs:complexContent>
          <xs:extension base="baseexc:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="stsExceptionContent">
        <xs:complexContent>
          <xs:extension base="baseexc:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" elementFormDefault="qualified" targetNamespace="http://soap.base.client.chipkarte.at" version="1.0">
      <xs:complexType name="property">
        <xs:sequence>
          <xs:element name="key" type="xs:string" minOccurs="0" />
          <xs:element name="value" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://soap.base.client.chipkarte.at" xmlns:stsexc="http://exceptions.soap.sts.client.chipkarte.at" elementFormDefault="qualified" targetNamespace="http://soap.sts.client.chipkarte.at" version="1.0">
      <xs:import namespace="http://soap.base.client.chipkarte.at" />
      <xs:element name="checkStatus" type="tns:checkStatus" />
      <xs:element name="checkStatusResponse" type="tns:checkStatusResponse" />
      <xs:element name="requestSamlAssertion" type="tns:requestSamlAssertion" />
      <xs:element name="requestSamlAssertionResponse" type="tns:requestSamlAssertionResponse" />
      <xs:complexType name="checkStatus">
        <xs:sequence>
          <xs:element name="dialogId" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="checkStatusResponse">
        <xs:sequence>
          <xs:element name="return" type="base:property" maxOccurs="unbounded" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requestSamlAssertion">
        <xs:sequence>
          <xs:element name="dialogId" type="xs:string" minOccurs="0" />
          <xs:element name="requestSamlAssertionReq" type="tns:requestSamlAssertionReq" minOccurs="0" />
          <xs:element name="cardReaderId" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requestSamlAssertionReq">
        <xs:sequence>
          <xs:element name="responseURL" type="xs:string" minOccurs="0" />
          <xs:element name="ticketSubject" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requestSamlAssertionResp">
        <xs:sequence>
          <xs:element name="samlTicket" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requestSamlAssertionResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:requestSamlAssertionResp" minOccurs="0" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="AccessException">
    <part xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" name="fault" element="baseexc:AccessException" />
  </message>
  <message name="CardException">
    <part xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" name="fault" element="baseexc:CardException" />
  </message>
  <message name="DialogException">
    <part xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" name="fault" element="baseexc:DialogException" />
  </message>
  <message name="InvalidParameterStsException">
    <part xmlns:stsexc="http://exceptions.soap.sts.client.chipkarte.at" name="fault" element="stsexc:InvalidParameterStsException" />
  </message>
  <message name="ServiceException">
    <part xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" name="fault" element="baseexc:ServiceException" />
  </message>
  <message name="StsException">
    <part xmlns:stsexc="http://exceptions.soap.sts.client.chipkarte.at" name="fault" element="stsexc:StsException" />
  </message>
  <message name="checkStatus">
    <part name="parameters" element="tns:checkStatus" />
  </message>
  <message name="checkStatusResponse">
    <part name="parameters" element="tns:checkStatusResponse" />
  </message>
  <message name="requestSamlAssertion">
    <part name="parameters" element="tns:requestSamlAssertion" />
  </message>
  <message name="requestSamlAssertionResponse">
    <part name="parameters" element="tns:requestSamlAssertionResponse" />
  </message>
  <portType name="IStsService">
    <operation name="checkStatus">
      <input wsam:Action="http://soap.sts.client.chipkarte.at/IStsService/checkStatusRequest" message="tns:checkStatus" />
      <output wsam:Action="http://soap.sts.client.chipkarte.at/IStsService/checkStatusResponse" message="tns:checkStatusResponse" />
      <fault name="AccessException" wsam:Action="http://soap.sts.client.chipkarte.at/IStsService/checkStatus/Fault/AccessException" message="tns:AccessException" />
      <fault name="DialogException" wsam:Action="http://soap.sts.client.chipkarte.at/IStsService/checkStatus/Fault/DialogException" message="tns:DialogException" />
      <fault name="ServiceException" wsam:Action="http://soap.sts.client.chipkarte.at/IStsService/checkStatus/Fault/ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="requestSamlAssertion">
      <input wsam:Action="http://soap.sts.client.chipkarte.at/IStsService/requestSamlAssertionRequest" message="tns:requestSamlAssertion" />
      <output wsam:Action="http://soap.sts.client.chipkarte.at/IStsService/requestSamlAssertionResponse" message="tns:requestSamlAssertionResponse" />
      <fault name="AccessException" wsam:Action="http://soap.sts.client.chipkarte.at/IStsService/requestSamlAssertion/Fault/AccessException" message="tns:AccessException" />
      <fault name="CardException" wsam:Action="http://soap.sts.client.chipkarte.at/IStsService/requestSamlAssertion/Fault/CardException" message="tns:CardException" />
      <fault name="DialogException" wsam:Action="http://soap.sts.client.chipkarte.at/IStsService/requestSamlAssertion/Fault/DialogException" message="tns:DialogException" />
      <fault name="InvalidParameterStsException" wsam:Action="http://soap.sts.client.chipkarte.at/IStsService/requestSamlAssertion/Fault/InvalidParameterStsException" message="tns:InvalidParameterStsException" />
      <fault name="ServiceException" wsam:Action="http://soap.sts.client.chipkarte.at/IStsService/requestSamlAssertion/Fault/ServiceException" message="tns:ServiceException" />
      <fault name="StsException" wsam:Action="http://soap.sts.client.chipkarte.at/IStsService/requestSamlAssertion/Fault/StsException" message="tns:StsException" />
    </operation>
  </portType>
  <binding name="sts_4Binding" type="tns:IStsService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="checkStatus">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="AccessException">
        <soap:fault name="AccessException" use="literal" />
      </fault>
      <fault name="DialogException">
        <soap:fault name="DialogException" use="literal" />
      </fault>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal" />
      </fault>
    </operation>
    <operation name="requestSamlAssertion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="AccessException">
        <soap:fault name="AccessException" use="literal" />
      </fault>
      <fault name="CardException">
        <soap:fault name="CardException" use="literal" />
      </fault>
      <fault name="DialogException">
        <soap:fault name="DialogException" use="literal" />
      </fault>
      <fault name="InvalidParameterStsException">
        <soap:fault name="InvalidParameterStsException" use="literal" />
      </fault>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal" />
      </fault>
      <fault name="StsException">
        <soap:fault name="StsException" use="literal" />
      </fault>
    </operation>
  </binding>
  <service name="StsService">
    <port name="sts_4" binding="tns:sts_4Binding">
      <soap:address location="http://localhost/sts/4" />
    </port>
  </service>
</definitions>
